@charset "UTF-8";
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cbcbcb;
}

/* WebKit browsers */
[v-cloak] {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
}
/*波浪公共头部*/
.detailhead {
  position: relative;
}
.detailhead .img {
  width: 100%;
  display: block;
  min-height: 190px;
}
.detailhead .showhead {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  color: #fff;
}
.detailhead .showhead > h2 {
  color: #fff;
  font-size: 29px;
  line-height: 35px;
}
.detailhead .showhead > h2 > em {
  font-size: 19px;
}
.detailhead .showhead > p {
  line-height: 26px;
  color: #fff;
}
.detailhead .showhead > .schedule-bar {
  height: 2px;
  width: calc(100% - 30px);
  background-color: #73b1e3;
  border-radius: 5px;
  margin: 26px auto 15px auto;
  position: relative;
}
.detailhead .showhead > .schedule-bar .schedule-current {
  display: block;
  height: 2px;
  vertical-align: top;
  background-color: #cbe8ff;
  border-radius: 5px 0 0 5px;
}
.detailhead .showhead .detailcontent {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 16px;
}
.detailhead .showhead .detailcontent div {
  flex: 1;
}
.detailhead .showhead .detailcontent div:not(:last-child) {
  position: relative;
}
.detailhead .showhead .detailcontent div:not(:last-child):after {
  content: '';
  position: absolute;
  right: -1px;
  top: 3px;
  bottom: 3px;
  width: 1px;
  border-left: 1px solid #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    -webkit-transform: scaleX(0.35);
    transform: scaleX(0.35);
  }
}
.detailhead .showhead .detailcontent div.detailitem > p:first-child {
  line-height: 1;
  margin-bottom: 15px;
}
.detailhead .showhead .detailcontent div.detailitem > p:last-child {
  line-height: 1;
  font-size: 12px;
}
.detailhead .showhead .detailcontent p {
  text-align: center;
  color: #fff;
}
.detailhead .wave {
  position: absolute;
  width: 100%;
  bottom: -5px;
  z-index: 8;
}

/*不带波浪公共头部*/
.investhead {
  padding: 22px 0 23px 0;
  background-color: #1e82d2;
  display: flex;
  align-items: center;
}
.investhead p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.investhead div {
  flex: 1;
}
.investhead div > p:first-of-type {
  line-height: 14px;
  margin-bottom: 19px;
}
.investhead div > p:last-of-type {
  line-height: 14px;
}
.investhead div:not(:last-child) {
  position: relative;
}
.investhead div:not(:last-child):after {
  content: '';
  position: absolute;
  right: -1px;
  top: 3px;
  bottom: 3px;
  width: 1px;
  border-left: 1px solid #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .investhead div:not(:last-child):after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .investhead div:not(:last-child):after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .investhead div:not(:last-child):after {
    -webkit-transform: scaleX(0.35);
    transform: scaleX(0.35);
  }
}

/*三个选项卡样式*/
.pubtaghd {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  display: flex;
  position: fixed;
  z-index: 3;
}
.pubtaghd::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #E3E3EA;
}
.pubtaghd .mui-control-item {
  border: 0;
  color: #2c2c2c;
  display: inline-block;
  width: auto;
  flex: 1;
  line-height: 44px;
}
.pubtaghd .mui-control-item:nth-child(2) {
  flex: 0 1 auto;
}
.pubtaghd .mui-control-item.mui-active {
  position: relative;
  background-color: inherit;
  color: #1E81D2;
}
.pubtaghd .mui-control-item.mui-active:after {
  content: '';
  position: absolute;
  left: calc(50% - 15px);
  bottom: -1px;
  width: 30px;
  height: 4px;
  background-color: #1E81D2;
  z-index: 2;
}

ul, p, h2, h3, b {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, h3 {
  font-weight: normal;
}

span {
  line-height: 1;
}

em, i {
  font-style: normal;
}

.mui-table-view {
  background-color: transparent;
}
.mui-table-view:before, .mui-table-view:after {
  display: none;
}

.mui-table-view-cell {
  background-color: #fff;
}
.mui-table-view-cell:not(.specli):before, .mui-table-view-cell:not(.specli):after {
  display: none;
}

.mui-bar .mui-btn-rightbottom {
  padding: 12px 0;
  border-radius: 0px;
  padding: 14px 0;
  top: 0px;
}

.mui-bar ~ .mui-content.myloan {
  padding-top: 88px;
}

.mui-bar-tab ~ .mui-content.myloan {
  padding-bottom: 0px;
}

.mui-bar-tab ~ .mui-content.pdstyle {
  padding-bottom: 50px !important;
}

.mui-control-items {
  border: 0;
  color: #2c2c2c !important;
  display: inline-block;
  width: auto;
  flex: 1;
  line-height: 44px;
  overflow: hidden;
  -webkit-transition: background-color .1s linear;
  transition: background-color .1s linear;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pubtaghd2 {
  top: 44px;
}

.loanhd .words {
  padding-right: 10px;
  line-height: 45px;
  color: #FFFFFF;
}

.chooseopt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chooseopt div {
  height: 50px;
}
.chooseopt div.allbtn {
  background-color: #fff;
  width: 64%;
  font-size: 15px;
}
.chooseopt div.allbtn .mui-checkbox.mui-left label {
  padding: 17px;
  padding-left: 53px;
}
.chooseopt div.allbtn .mui-checkbox.mui-left input[type=checkbox] {
  width: 22px;
  height: 22px;
  left: 25px;
  top: 14px;
}
.chooseopt div.allbtn .mui-checkbox.mui-left input[type=checkbox]:before {
  font-size: 22px;
}
.chooseopt div.huank {
  font-size: 17px;
  background-color: #1e82d2;
  width: 36%;
  text-align: center;
  line-height: 49px;
}
.chooseopt div.huank a {
  color: #fff;
  display: inline-block;
  width: 100%;
}
.chooseopt div.huank a:active {
  background-color: #0062cc;
}

.myloan .loancontent > div.content1, .myloan .loancontent > div.content2 {
  margin: 10px 10px 0;
}
.myloan .loancontent > div.content1 ul li, .myloan .loancontent > div.content2 ul li {
  padding: 9px 15px;
  margin-bottom: 10px;
  border-radius: 6px;
}
.myloan .loancontent > div.content1 ul li .title-box, .myloan .loancontent > div.content2 ul li .title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  position: relative;
}
.myloan .loancontent > div.content1 ul li .title-box:after, .myloan .loancontent > div.content2 ul li .title-box:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #E3E3EA;
}
.myloan .loancontent > div.content1 ul li .title-box h2, .myloan .loancontent > div.content2 ul li .title-box h2 {
  font-size: 14px;
  color: #2c2c2c;
  line-height: 24px;
  margin-left: 5px;
}
.myloan .loancontent > div.content1 ul li .title-box button, .myloan .loancontent > div.content2 ul li .title-box button {
  width: 49px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.myloan .loancontent > div.content1 ul li .title-box span, .myloan .loancontent > div.content2 ul li .title-box span {
  font-size: 14px;
  line-height: 24px;
}
.myloan .loancontent > div.content1 ul li .main, .myloan .loancontent > div.content2 ul li .main {
  margin-top: 8px;
}
.myloan .loancontent > div.content1 ul li .main p, .myloan .loancontent > div.content2 ul li .main p {
  font-size: 12px;
  display: flex;
}
.myloan .loancontent > div.content1 ul li .main p span, .myloan .loancontent > div.content2 ul li .main p span {
  flex: 1;
  color: #999;
  height: 25px;
  line-height: 25px;
}
.myloan .loancontent > div.content1 ul li .main p span em, .myloan .loancontent > div.content2 ul li .main p span em {
  color: #2c2c2c;
}
.myloan .loancontent > div.content1 ul li.wstatus h2, .myloan .loancontent > div.content2 ul li.wstatus h2 {
  color: #999;
}
.myloan .loancontent > div.content1 ul li.wstatus .main p span em, .myloan .loancontent > div.content2 ul li.wstatus .main p span em {
  color: #999;
}
.myloan .loancontent > div.content2 ul li {
  background-color: #fff;
}
.myloan .loancontent > div.content2 ul li .title-box2 {
  display: inline-block;
  width: 100%;
}
.myloan .loancontent > div.content2 ul li .title-box2 .txtoption, .myloan .loancontent > div.content2 ul li .title-box2 h2 {
  display: inline-block;
}
.myloan .loancontent > div.content2 ul li .title-box2 .txtoption {
  vertical-align: middle;
}
.myloan .loancontent > div.content2 ul li .title-box2 .txtoption input[type=checkbox] {
  top: 3px;
  left: 0;
  width: 30px;
  height: 22px;
}
.myloan .loancontent > div.content2 ul li .title-box2 .txtoption input[type=checkbox]:before {
  font-size: 22px;
}
.myloan .loancontent > div.content2 ul li .title-box2 .txtoption label {
  padding-left: 6px;
}
.myloan .loancontent > div.content3 .moneydata {
  background-color: #fff;
  margin: 10px 0;
}
.myloan .loancontent > div.content2 ul li .title-box2 button {
  width: 49px;
  height: 26px;
  line-height: 26px;
  padding: 0;
  text-align: center;
  font-size: 14px;
}
.mui-small-btn:before {
  border-radius: 12px;
}

.myloan .loancontent > div.content3 .moneydata ul .assetdlist div p:first-child {
  color: #999;
}
.myloan .loancontent > div.content3 .moneydata ul .assetdlist div p:first-child i {
  background-color: #1e82d2;
}
.myloan .loancontent > div.content3 .moneydata ul .assetdlist div p:last-child {
  color: #2c2c2c;
}

.mui-popover.mui-popover-action.myLoanAlert {
  background-color: #fff;
  color: #2c2c2c;
}

.myLoanAlert h5 {
  color: #2c2c2c;
  font-size: 17px;
  text-align: center;
  line-height: 44px;
  position: relative;
  position: relative;
}
.myLoanAlert h5:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #E3E3EA;
}
.myLoanAlert h5 a {
  position: absolute;
  top: 12px;
  right: 15px;
  color: #999;
  font-size: 20px;
}
.myLoanAlert .moneyinfo {
  margin-bottom: 29px;
}
.myLoanAlert .moneyinfo p, .myLoanAlert .moneyinfo span {
  text-align: center;
}
.myLoanAlert .moneyinfo p {
  line-height: 65px;
  font-size: 29px;
  color: #2c2c2c;
}
.myLoanAlert .moneyinfo span {
  display: block;
  font-size: 14px;
}
.myLoanAlert .balance {
  line-height: 44px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.myLoanAlert .balance:after {
  position: absolute;
  content: '';
  left: 15px;
  bottom: -1px;
  height: 1px;
  width: calc(100% - 30px);
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #E3E3EA;
}
.myLoanAlert .balance span {
  line-height: 42px;
}
.myLoanAlert .balance a {
  font-size: 14px;
  color: #1e82d2;
}
.myLoanAlert .balance a:active {
  opacity: .5;
}
.myLoanAlert .btnbox {
  padding: 33px 15px 24px;
}

/*# sourceMappingURL=myLoan.css.map */
