<!doctype html>
<html>
	<head>	
		<meta charset="utf-8">
		<title>资金明细</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/my/fundDetail.css">
	</head>
	<body>
		<!--
        	作者：hxg
        	时间：2018-01-15
        	描述：资金明细
        -->
		<div  class="mui-scroll-wrapper mui-content recharge-item" id="pullrefresh">
			<div class="mui-scroll">
				<ul  class="mui-table-view capitallist" id="vue-app" v-show="show">
					 <li class="mui-table-view-cell" v-for="item in fundList">
					 	<dl class="clist clearfix">
							<dt>
								<p :class="{red:item.PayFlag==1,green:item.PayFlag!=1}">{{item.PayFlag==1?"+":"-"}}{{item.Amount | getAmount}}</p>
								<p>{{item.FundType}}</p>
							</dt>
							<dd>
								<p>{{item.TranTime | formatDate}}</p>
							</dd>
						</dl>
					 </li>
				</ul>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/common.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js"></script>
		<script type="text/javascript" src="../../js/my/fundDetail.js" ></script>
	</body>

</html>