<!doctype html>
<html>
	<head>	
		<meta charset="utf-8">
		<title>消息详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/my/messageDetail.css">
	</head>
	<body>
		<!--
        	作者：hxg
        	时间：2018-01-13
        	描述：消息详情
        -->
		<div class="mui-content messagedt" id="vue-app" :class="{'ios-scroll-bounce':isIos}">	
			<h2>{{message.Title || ""}}</h2>
			<span>{{message.InsertTime | formatDate}}</span>
			<p v-html="message.Content">
			</p>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>		
		<script type="text/javascript" src="../../js/common.js" ></script>	
		<script type="text/javascript" src="../../js/vue2.min.js"></script>
		<script type="text/javascript" src="../../js/my/messageDetail.js"></script>
	</body>
</html>