<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>更换手机号</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/root/pubAccount.css">
	</head>
	<body>
		<!--
        	作者：hxg
        	时间：2018-01-11
        	描述：更换新手机号
        -->
		<div class="mui-content" id="vue-app">
			<div class="mui-input-group wrap">
				<div class="pub-wrap  reg-wrap fg-wrap">
					<div class="input-container">
						<label class="mui-icon iconfont icon-shoujihao" for="phone"></label>
						<input class="phone" v-model="newPhone" type="text" placeholder="请输入新手机号码"  maxlength="11"/>
					</div>
					<div class="input-container idcode">
						<label class="mui-icon iconfont icon-anquan" for="identifycode"></label>
						<input class="identifycode" v-model="smsCode" type="text" placeholder="请输入验证码" maxlength="4"/>
						<button class="mui-btn mui-btn-primary mui-small-btn" @tap="btnSend" :disabled="btnState">{{value}}</button>
					</div>
				</div>
				<div class="btn-wrap">
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block" @tap="btnCommit">提交修改</button>
				</div>
			</div>		
		</div>		
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/common.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js"></script>
		<script type="text/javascript" src="../../js/md5.min.js" ></script>
		<script type="text/javascript" src="../../js/my/modifyMobile.js"></script>
	</body>
</html>