<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>转让规则</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/my/pubExplain.css" />
	</head>
	<body>
		<!--
        	作者：dingyong
        	时间：2018-01-23
        	描述：转让规则
        -->
		<div class="mui-content">
			<div class="t_rules">
				<p>1、出让债权的金额为债权人持有的一笔债权的剩余本金，债权人可原价、折价或溢价转让，折价金额最多为剩余本金*1%，溢价金额最多为当期应收利息；</p>
			<p>2、按转让人的债权持有期不同，对应不同的转让费率：</p>
			<div class="transfer-table-box">
				<table class="transfer-table">
					<tr>
						<td>持有期</td>
						<td>费率</td>
					</tr>
					<tr>
						<td>1个月&lt;N≤2个月</td>
						<td>0.5%</td>
					</tr>
					<tr>
						<td>2个月&lt;N≤6个月</td>
						<td>0.3%</td>
					</tr>
					<tr>
						<td>N>6个月</td>
						<td>0.1%</td>
					</tr>
				</table>
			</div>
			<p>3、实际到账金额=剩余本金±折溢价-转让手续费；</p>
			<p>4、未转成功的部分，转让人继续持有。</p>
			</div>  
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
	</body>
</html>