<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>上传头像</title>
    <link href="../../css/mui.min.css" rel="stylesheet"/>
	<link href="../../css/cropper.min.css"  rel="stylesheet"/>
	</head>
	<body>
	<!--
    	作者：dingyong
    	时间：2018-01-25
    	描述：设置头像
   -->
          <div class="tip" id="tips"><span class="mui-spinner"></span>请稍候...</div>
		  <nav  class="mui-bar mui-bar-tab">
		  	<div class="fbt mui-action-back">取 消</div>
			<div class="fbt"  id="btnRotate"><span class="mui-icon mui-icon-reload"></span> 90°</div>
			<div id="btnUpload" class="fbt">完 成</div>
		</nav>
		<div class="mui-content">
				<div class="img-container" id="container">
						<img class="operate-img" id="operateImg"/>
				</div>
		</div>
	  <script type="text/javascript" src="../../js/mui.min.js" ></script>
      <script type="text/javascript" src="../../js/jquery-2.0.3.min.js"></script>
	  <script type="text/javascript" src="../../js/cropper.min.js" ></script>
	  <script type="text/javascript" src="../../js/my/upload.js" ></script>
	</body>
</html>