<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>提现说明</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/my/pubExplain.css" />
	</head>
	<body>
		<!--
        	作者：hxg
        	时间：2018-01-18
        	描述：提现说明
        -->
		<div class="mui-content" id="container">
			<div class="w_explain">
			   <b>提现手续费：</b>
				<p>  1. 一般提现：优先提现15天前充值的金额。若15天前充值的金额大于或等于提现金额，则每月可免费提现3笔，超过3笔后，提现金额≤5万则收2元/笔，提现金额>5万则收10元/笔；15天内充值的金额如要提现不免费，按提现金额的2‰收取，最低2元/笔。</p>
				<p>2. 即时提现：按提现金额的2‰收取，最低2元/笔。</p>
				<br />
				<b>提现限额：</b>
				<p>									
					1. 最小提现金额为100元； 
				</p>
				<p>									
					2.工作日前一日20:30至工作日17:15，单笔提现申请无上限；非工作时间17:15-20:30，单笔提现上限额度为5万元；
				</p>
				<p >
					3.非工作日全天(除了工作日前一日的20:30-24:00)，单笔提现上限额度为50万元。 
				</p>
				<br />
				<b>到账时间：</b>
				<p>
					具体提现到账时间请查看【帮助中心】—【账户管理】—【提现】板块；
				</p>	
				
				<br />
				<b>其他</b>
				<p>1. 银行存管开户、交易密码、提现银行卡均设置成功后，方可进行提现操作；</p>
				<p>2. 提现必须为银行借记卡，不支持存折、信用卡提现；当日个人网银充值和快捷充值金额需要第二日起可取现；</p>
				<p>3. 平台对调整收费规则保留最终解释权；</p>
				<p>4、用户在提现过程中，如有疑问请拨打前海领投客服热线400-660-5027。</p>
			</div>  
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script>
			 mui.os.ios&&document.getElementById("container").classList.add('ios-scroll-bounce');
		</script>
	</body>
</html>