@charset "UTF-8";
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cbcbcb;
}

/* WebKit browsers */
[v-cloak] {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
}
/*波浪公共头部*/
.detailhead {
  position: relative;
}
.detailhead .img {
  width: 100%;
  display: block;
  min-height: 190px;
}
.detailhead .showhead {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  color: #fff;
}
.detailhead .showhead > h2 {
  color: #fff;
  font-size: 29px;
  line-height: 35px;
}
.detailhead .showhead > h2 > em {
  font-size: 19px;
}
.detailhead .showhead > p {
  line-height: 26px;
  color: #fff;
}
.detailhead .showhead > .schedule-bar {
  height: 2px;
  width: calc(100% - 30px);
  background-color: #73b1e3;
  border-radius: 5px;
  margin: 26px auto 15px auto;
  position: relative;
}
.detailhead .showhead > .schedule-bar .schedule-current {
  display: block;
  height: 2px;
  vertical-align: top;
  background-color: #cbe8ff;
  border-radius: 5px 0 0 5px;
}
.detailhead .showhead .detailcontent {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 16px;
}
.detailhead .showhead .detailcontent div {
  flex: 1;
}
.detailhead .showhead .detailcontent div:not(:last-child) {
  position: relative;
}
.detailhead .showhead .detailcontent div:not(:last-child):after {
  content: '';
  position: absolute;
  right: -1px;
  top: 3px;
  bottom: 3px;
  width: 1px;
  border-left: 1px solid #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .detailhead .showhead .detailcontent div:not(:last-child):after {
    -webkit-transform: scaleX(0.35);
    transform: scaleX(0.35);
  }
}
.detailhead .showhead .detailcontent div.detailitem > p:first-child {
  line-height: 1;
  margin-bottom: 15px;
}
.detailhead .showhead .detailcontent div.detailitem > p:last-child {
  line-height: 1;
  font-size: 12px;
}
.detailhead .showhead .detailcontent p {
  text-align: center;
  color: #fff;
}
.detailhead .wave {
  position: absolute;
  width: 100%;
  bottom: -5px;
  z-index: 8;
}

/*不带波浪公共头部*/
.investhead {
  padding: 22px 0 23px 0;
  background-color: #1e82d2;
  display: flex;
  align-items: center;
}
.investhead p {
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.investhead div {
  flex: 1;
}
.investhead div > p:first-of-type {
  line-height: 14px;
  margin-bottom: 19px;
}
.investhead div > p:last-of-type {
  line-height: 14px;
}
.investhead div:not(:last-child) {
  position: relative;
}
.investhead div:not(:last-child):after {
  content: '';
  position: absolute;
  right: -1px;
  top: 3px;
  bottom: 3px;
  width: 1px;
  border-left: 1px solid #fff;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .investhead div:not(:last-child):after {
    transform: scaleX(0.7);
    -webkit-transform: scaleX(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .investhead div:not(:last-child):after {
    transform: scaleX(0.5);
    -webkit-transform: scaleX(0.5);
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
  .investhead div:not(:last-child):after {
    -webkit-transform: scaleX(0.35);
    transform: scaleX(0.35);
  }
}

/*三个选项卡样式*/
.pubtaghd {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  display: flex;
  position: fixed;
  z-index: 3;
}
.pubtaghd::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 100%;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  border-top: 1px solid #E3E3EA;
}
.pubtaghd .mui-control-item {
  border: 0;
  color: #2c2c2c;
  display: inline-block;
  width: auto;
  flex: 1;
  line-height: 44px;
}
.pubtaghd .mui-control-item:nth-child(2) {
  flex: 0 1 auto;
}
.pubtaghd .mui-control-item.mui-active {
  position: relative;
  background-color: inherit;
  color: #1E81D2;
}
.pubtaghd .mui-control-item.mui-active:after {
  content: '';
  position: absolute;
  left: calc(50% - 15px);
  bottom: -1px;
  width: 30px;
  height: 4px;
  background-color: #1E81D2;
  z-index: 2;
}

ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  line-height: 1;
}

em, i {
  font-style: normal;
}

.mui-table-view-cell.mui-active {
  background-color: #fff;
}

.mui-bar-tab ~ .mui-content {
  padding-bottom: 100px;
}

.sureopt {
  padding: 12px 15px 8px 15px !important;
  width: 100%;
}

.sureopt .mui-btn-block {
  top: 0;
  font-size: 18px;
  display: block;
  width: 100%;
  margin-bottom: 0px;
  padding: 11px 0;
}

.container .investop {
  margin-bottom: 10px;
}
.container .investop .investopt .higcell {
  padding: 16px 15px;
}
.container .investop .investopt li.alltou {
  padding: 6px 15px;
}
.container .investop .investopt li.alltou span {
  padding-top: 5px;
}
.container .investop .investopt input {
  border: 0;
  margin: 0;
  width: 80%;
  padding-left: 0;
  font-size: 15px;
}
.container .investop .investopt a {
  color: #1e82d2;
  padding: 0;
  padding-right: 15px;
  height: 65px;
  line-height: 65px;
  font-size: 14px;
}
.container .investop .investopt a.mui-active {
  background-color: #fff;
  opacity: .5;
}
.container .investop .investopt span {
  font-size: 15px;
  color: #2c2c2c;
}
.container ul span, .container ul i {
  font-size: 15px;
  color: #2c2c2c;
  display: inline-block;
  line-height: 21px;
}
.container ul .mui-navigate-right i {
  margin-right: 15px;
}
.container ul .mui-navigate-right i.hongbaoi {
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
}
.container ul.ul1 {
  margin-bottom: 10px;
}
.container ul.ul2 {
  margin-bottom: 10px;
}
.container .safecode {
  background-color: #fff;
  font-size: 15px;
}
.container .safecode input {
  border: 0;
  margin-bottom: 0;
  width: 75%;
  font-size: 15px;
}
.container .safecode a {
  color: #1e82d2;
}
.container .safecode a:active {
  opacity: .5;
}
.container .txtoption {
  font-size: 0;
  -webkit-text-size-adjust: none;
  margin: 10px 0;
  padding-left: 35px;
}
.container .txtoption label {
  display: inline-block;
  width: auto;
  padding-right: 0;
  padding-left: 0px;
  font-size: 14px;
}
.container .txtoption a {
  display: inline-block;
  font-size: 13px;
  color: #1e82d2;
}
.container .txtoption input[type=checkbox] {
  top: 7px;
  left: 15px;
  width: 17px;
  height: 17px;
  display: inline-block;
}
.container .txtoption input[type=checkbox]:before {
  font-size: 17px;
}
.container .txtoption a {
  display: block;
  height: 28px;
  line-height: 28px;
  text-indent: -5px;
}
.container .txtoption a:active {
  opacity: .5;
}
.container .sureinvest {
  padding: 6px 15px 0;
}
.mui-popup-title{font-size: 16px;}
.invest-tips{text-align: center;color: #9A9A9A;font-size: 14px;margin-top: 10px;}
/*# sourceMappingURL=investStandard.css.map */
