<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/root/pubAccount.css">
	</head>
	<body>
		<!--
        	作者：dingyong
        	时间：2018-01-08
        	描述：登录
        -->
		<div class="mui-content" id="vue-app">
			<div class="loghead">
				<img src="../../images/my-logo.png" :src="pic"/>
			</div>
			<div class="wrap">
				<div class="pub-wrap login-wrap">
					<div class="input-container">
						<label class="mui-icon iconfont icon-yonghu" for="username"></label>
						<input  class="username" type="text" placeholder="请输入用户名" v-model="txtName" @input="inputName"/>
					</div>
					<div class="input-container">
						<label class="mui-icon iconfont icon-mima" for="psw"></label>
						<input  class="psw" type="password" placeholder="请输入登录密码"  v-model="txtPwd"/>
					</div>
				</div>
				<p class="agreement-tips mui-text-right"><a @tap="btnForget">忘记密码？</a></p>
				<div class="btn-wrap">
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block" @tap="btnLogin">登录</button>					
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-btn-outlined" @tap="btnReg">注册</button>
				</div>
				<div class="otherlogin-wrap" >
					<div class="optlogin-wrap">
			            <a class="qqlogin" ><img src="../../images/my-qq.png"   @tap="oauthLogin('qq')"/></a>
			            <a class="wxlogin" ><img src="../../images/my-wechat.png" @tap="oauthLogin('weixin')" /></a>						
					</div>
        		</div>
			</div>			
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/common.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js" ></script>
		<script type="text/javascript" src="../../js/root/login.js" ></script>
	</body>
</html>
