<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新手专享</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/root/noviceLoan.css">
	</head>
	<body>
		<!--
        	作者：dingyong
        	时间：2018-01-11
        	描述：新手专享
        	备注：为了 能同时挂载，nav 和 mui-content 放在一个容器中，后期看能不能优化
      -->	
      <div id="vue-app">
      	    <nav class="mui-bar mui-bar-tab investopt">
				<button type="button" class="mui-btn  mui-btn-block mui-btn-primary" @tap="sendTender" :class="{'mui-btn-grey':grey}" :disabled="grey">出借</button>
			</nav>
			<div class="mui-content exclusive" :class="{'ios-scroll-bounce':isIos}">
				<div class="detailhead">
					<img src="../../images/mycenter2.png"  class="img"/>
					<div class="wave">
						<svg xmlns="http://www.w3.org/2000/svg"  
							 xmlns:xlink="http://www.w3.org/1999/xlink" 
							 width="100%" 
							 height="150"
	                         >     
							<g fill="rgba(255,255,255,0.03)">       
							<path d="M 0 70 Q 75 39, 150 70 T 300 70 T 450 70 T 600 70 T 750 70  T 900 70  T 1050 70 T 1200 70 T 1350 70 V 150 H 0 V 0"></path>         
							<animateTransform attributeName="transform" attributeType="XML" type="translate" from="0" to="-300" dur="8s" repeatCount="indefinite"></animateTransform>    
							</g>    
							<g fill="rgba(255,255,255,0.045)">        
							<path d="M 0 70 Q 87.5 47, 175 70 T 350 70 T 525 70 T 700 70 T 875 70 T 1050 70 T 1225 70 T 1400 70  T 1575 70  V 150 H 0 V 0"></path>       
							<animateTransform attributeName="transform" attributeType="XML" type="translate" from="0" to="-350" dur="16s" repeatCount="indefinite"></animateTransform>    
							</g>    
							<g fill="rgba(255,255,255,0.057)" transform="translate(-903.868 0)">        
							<path d="M 0 70 Q 135 36, 270 70 T 540 70 T 810 70 T 1080 70 T 1350 70 T 1620 70  V 150 H 0 V 0" transform="translate(-38.232284367796474, 0)"></path>        
							<animateTransform attributeName="transform" attributeType="XML" type="translate" from="0" to="-540" dur="10s" repeatCount="indefinite"></animateTransform>    
							</g>
						</svg>
					</div>
					<div class="showhead">
						<h2>{{getRate}}<em>%</em></h2>
						<p>年利率</p>
						<div class="detailcontent">
							<div class="detailitem">
								<p>{{getTerm}}</p>
								<p>出借期限</p>
							</div>
							<div class="detailitem">
								<p>{{getProfit}}</p>
								<p>预计收益</p>
							</div>
						</div>
					</div>
				</div>			
				<div class="container">
					<div  class="content1">
						<p>
							本项目为虚拟标的，提供体验本金28,888.00元，
							每次所获利息直接划转至新手用户的汇付账号，
							专为本平台出借新手熟悉平台投标流程之用。
						</p>
						<p>
							体验本金28,888.00元在用户完成注册并实名认证后即可送出，
							并立即生效，一人一次机会使用体验本金，获取额外收益。
							新手体验标的项目借款期限为1天，1天后，用户获得体验本金出借的收益。
							若需提现收益，用户充值出借后方可进行取现。
						</p>
						<p>
							*每个真实项目都会充分披露借款人信息（身份证、房产证、委托书、公证书、银行审批书、担保信息），
							包括但不仅限于借款用途、征信、诉讼等信息。帮助出借人筛选适合自己的出借项目；
							并附上本平台风险管理的风控措施、关于借款人信用记录、还款来源等情况。
						</p>
					</div>
				</div>
			</div>
      </div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>		
		<script type="text/javascript" src="../../js/common.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js" ></script>
		<script type="text/javascript" src="../../js/root/noviceLoan.js" ></script>
	</body>
</html>