<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>引导页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/root/slide.css">
	</head>
	<body>
	<div id="slider" class="mui-slider mui-fullscreen">
			<div class="mui-slider-group">
				<div class="mui-slider-item">
					<div class="box">
						<img src="../../images/slide/five.png" />
					</div>
				</div>
				<div class="mui-slider-item">
					<div class="box">
						<img src="../../images/slide/one.png" />
					</div>
				</div>
				<div class="mui-slider-item">
					<div class="box">
				  <img src="../../images/slide/two.png" />
				  </div>
				</div>
				<!--<div class="mui-slider-item">
					<div class="box">
					<img src="../../images/slide/three.png" />
					</div>
				</div>-->
				<div class="mui-slider-item">
					<div class="box">
					<img src="../../images/slide/four.png" />
					<button type="button" class="mui-btn mui-btn-block mui-btn-primary mui-btn-outlined" id="btnClose">立即体验</button>
		    	</div>
		    	</div>
		    </div>
			<div class="mui-slider-indicator">
				<div class="mui-indicator mui-active"></div>
				<div class="mui-indicator"></div>
				<!--<div class="mui-indicator"></div>-->
				<div class="mui-indicator"></div>
				<div class="mui-indicator"></div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/root/slide.js" ></script>
	</body>
</html>