<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人开户</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<style>
			.mui-content{padding: 25px 15px;line-height: 25px;font-size: 15px;}
		</style>
	</head>
	<body>
		<!--
        	作者：dingyong
        	时间：2018-05-28
        	描述：授权说明
      -->
		<div class="mui-content" >
           "授权业务"是指用户授权互联网金融平台代为进行相关业务操作，平台指令将视为用户的真实意思表示，用户对此予以接受和认可。
             具体开通授权的业务，请以输入框内容为准。授权后，用户可在授权期限及授权金额范围内进行授权投标/授权还款业务。当权限过期，
             或投标/还款金额超过授权金额范围时，用户需重新授权。
		</div>		
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/common.js" ></script>
	</body>
</html>
