<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人开户</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/bank/openingSuccess.css">
	</head>
	<body>
		<!--
        	作者：dingyong
        	时间：2018-05-28
        	描述：开户成功
      -->
		<div class="mui-content" id="vue-app">
               <div class="bg">
               	 <img src="../../images/bank/bankLogo.png" />
               </div>
               <div class="login">
				<div class="success-box">
					<span class="mui-icon mui-icon-checkbox-filled"></span>
					<div class="title">存管账户开通成功</div>
					<div class="content">前海领投联手宜宾银行开通银行存管账户，让您的资金更安全</div>
				</div>
				<div class="login_btn">
					<button type="button" class="mui-btn mui-btn-primary mui-btn-block" @tap="btnPayPwd">设置交易密码</button>
					<div class="tips"> 为了账户安全，请跳转至宜宾银行存管设置交易密码</div>
				</div>
			</div>
		</div>		
		<script type="text/javascript" src="../../js/mui.min.js" ></script>
		<script type="text/javascript" src="../../js/common.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js" ></script>
		<script type="text/javascript" src="../../js/bank/openingSuccess.js" ></script>
	</body>
</html>