<!doctype html>
<html>
	<head>	
		<meta charset="utf-8">
		<title>设置交易密码</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/lineLoadding.css">
		<style id="stylesheet"></style>
	</head>
	<body>
		<div id="vue-app">			
			<header class="mui-bar mui-bar-nav main-index">
				<a class=" mui-icon mui-icon-arrowleft mui-pull-left" @tap="btnClose"></a>
				<a class="mui-btn mui-btn-link mui-pull-left mui-action-back" v-show="close">关闭</a>
				<div class="line" v-show="line" :class="{lineLoadding:line}"></div>
				<h1 class="mui-title">设置交易密码</h1>
			</header>
			<div class="mui-content">
				  <div class="mui-loader" v-show="loadding">
				  	<span class="mui-spinner"></span>
				  </div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js" ></script>		
		<script type="text/javascript" src="../../js/p.immersed.js" ></script>
		<script type="text/javascript" src="../../js/vue2.min.js"></script>
		<script type="text/javascript" src="../../js/common.js" ></script>	
		<script type="text/javascript" src="../../js/bank/setPayPwd.js" ></script>
	</body>
</html>